<%- include('partials/header'); -%>

        
        <div class="form-container">
          <h1 class="center">Log in</h1>
          <form class="center" action="/login" method="POST">
            <input type="text" autocomplete="off" name="username" placeholder="username...."/>
            <input type="password" name="password" placeholder="password...."></input>
            <button type="Submit">Log in</button>
          </form>
        </div>
        

<%- include('partials/footer'); -%>