<%- include('partials/header'); -%>

        <div class="form-container">
          <h1 class="center">Create an account</h1>
          <form class="center" action="/register" method="POST">
            <input type="text" autocomplete="off" name="username" placeholder="username...."/>
            <input type="password" name="password" placeholder="password...."></input>
            <input type="password" name="password_confirm" placeholder="confirm password...."></input>
            <button type="Submit">Create account</button>
          </form>




<%- include('partials/footer'); -%>